.boxLayout {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 120px;
}

.songImage {
    width: 60px;
    height: 60px;
    position: relative;
    left: 10px;
    top: 30px;
}

.text {
    position: relative;
    left: 22px;
    top: 26px;
}

.textSongName {
    font-size: 17px;
    line-height: 0.5em;
}

.textArist {
    font-size: 14px;
    line-height: 0.5em;
}

.textAlbum {
    font-size: 12px;

}

.playImage {
    width: 20px;
    height: 20px;
    position: relative;
    left: 55px;
    top: 50px;
}