.boxLayout {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 120px;
    background-color: transparent;
}

.songImage {
    width: 60px;
    height: 60px;
    position: relative;
    left: 10px;
    top: 30px;
}

.text {
    position: relative;
    left: -10px !important;
    top: 20px !important;
}

.textSongName {
    font-size: 17px;
    line-height: 0.5em;
}

.textArist {
    font-size: 14px;
    line-height: 0.6em;
}

.textAlbum {
    font-size: 12px;

}

.imageDiv {
    position: relative;
    left: -30px;
}

.playImage {
    width: 20px;
    height: 20px;
    position: relative;
    left: 1px;
    top: 50px;
}