.preview-view__song-list {
    position: relative;
    top: 50px;
    left: 50px;
}

.preview-view__song-option {
    background-color: transparent;
    border: none;
    text-align: left;
}

.preview-view__mobile-player {
    position: fixed;
    left: 58px;
    top: 650px;
    width: 320px;
}