.search-result {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 120px;
    background-color: transparent;
}

.search-result__song-image {
    width: 60px;
    height: 60px;
    position: relative;
    left: 10px;
    top: 30px;
}

.search-result__text {
    position: relative;
    left: 20px !important;
    top: 20px !important;
    width: 200px;
}

.search-result__text-song-name {
    font-size: 15px;
    line-height: 1em;
}

.search-result__text-artist {
    font-size: 12px;
    line-height: 0.6em;
}

.search-result__text-album {
    font-size: 10px;
}

.search-result__image-playing-div {
    position: relative;
    left: 20px;
}

.search-result__image-playing {
    width: 20px;
    height: 20px;
    position: relative;
    left: 1px;
    top: 50px;
}
