.search-result {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 120px;
    background-color: transparent;
    position: relative;
    top: -15px;
}

.search-result__song-image-div {
    width: 80px;
    height: 80px;
    position: relative;
    left: 20px;
    top: 37px;
}

.search-result__song-image {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

.search-result__text {
    position: relative;
    text-align: left;
    left: 30px;
    top: 26px;
    width: 200px;
    height: 100px;
}

.search-result__text-song-name {
    font-size: 15px;
    line-height: 1em;
    color: #212121;
}

.search-result__text-artist {
    font-size: 12px;
    line-height: 0.6em;
    color: #212121;
}

.search-result__text-album {
    font-size: 10px;
    color: #c1c1c1;
}

.search-result__image-playing-div {
    position: relative;
    left: 20px;
}

.search-result__image-playing {
    width: 20px;
    height: 20px;
    position: relative;
    left: 1px;
    top: 50px;
}
