.musicPlayer__audioPlayer div {
    height: 0px !important;
}

.musicPlayer__play-image {
    width: 45px;
    height: 45px;
    position: relative;
    left: 0px;
    top: 0px;
}

.musicPlayer__line {
    position: relative;
    top: 50px;
    left: 57px;
}

.musicPlayer__playButton {
    background-color: transparent;
    border: none;
    position: relative;
    left: 180px;
    top: 20px;
}

.musicPlayer__imageDiv {
    position: relative;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: #D3D3D3;
}

.musicPlayer__imageDiv-songImagePreview {
    width: 200px;
    height: 200px;
}
