.main {
    display: flex;
    flex-direction: row;
}

.main__searchView {
    display: flex;
    flex-direction: column;
    position: relative;
    width:1200px;
}

.main__previewView {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    width: 300px;
}

body{
    background-color: #e8e8ee;
}
