

.layout {
    display: flex;
    flex-direction: row;
}

.searchViewLayout {
    display: flex;
    flex-direction: column;
    position: relative;
    width:1200px;
}

.previewViewLayout {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
    width: 300px;
}

.hrline {
    transform: rotate(180deg);
    height:800px;
    position: relative;
    left: 90px;
}

.previewOption {
    background-color: transparent;
    border: none;
}